<html>
    <head>
        <title>Scoops</title>
        <style>
              body{
        background: url('https://cdn.britannica.com/50/80550-050-5D392AC7/Scoops-kinds-ice-cream.jpg') no-repeat;
        background-size: 100%;
    }
    .codehim-form{
        max-width: 310px;
        min-height: 370px;
        box-sizing: border-box;
        background: rgb(0,0,0);
        box-shadow: 4px 2px 16px rgba(0, 0, 0);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        margin-top:100px;
        padding: 25px;
        color: #e9967a;
            
    }
    .cm-input{display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; 
        margin: 14px auto;
        border-radius: 20px;
        border: 1px solid #ccc;
        
        
    }
    .cm-input:focus{
        outline: 0;
        border-color: #f9cb81;
        
    }
    .cm-input:invalid{
        border-color: #e41b17;
        
    }
    .btn-login{
        margin-top: 12%;
        display: block;
        width: 100%;
        padding: 4%;
        border: 0;
        color: 000000;
        border-radius: 20px;
        cursor: pointer;
        
    }
    .btn-login:focus{
        outline: 0;
    }
    
    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }
     /* For, tiele */
     .form-title{
        padding: 12px;
        text-align: center;
        position: relative;
    }
    .form-title h2{
        color: #e9967a;
    }
    .form-title .user-icon{
        position: absolute;
        font-size: 42px;
        color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 45px;
        top: -30px;
        left: -45px;
}
.link{
    text-align: right;
    margin-top: 5%;
    margin-right: 3%;
}
        </style>
    </head>
    <body>
        <div class="codehim-form">
        <div class="form-title">
           <div class="user-icon gr-bg">
              <i class="fa fa-user"></i>
           </div>
           <h2> Sign Up Here!!</h2>
        <div>
        <form action="/signupsubmit" method="GET" id="signup">
        <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input type="email"  id="email" class="cm-input" placeholder="Enter your email adress" name="gmail">
        <label for="pass"><i class="fa fa-lock"></i> Password:</label>
        <input id="pass" type="password" class="cm-input" placeholder="Enter your password" name="pass">
        <button type="submit" class="btn-login  gr-bg">Sign Up</button>
        <div class="link">
            <a href="#">Login</a>
           </div>
        </div>
     </form>
     <script>
        var x=document.getElementById("signup");
        function signup(){
            x.style.left="50px";
        }
        </script>
    </body>
</html>